user nginx;
worker_processes auto;
pid /var/run/nginx.pid;

events {
  worker_connections 1024;
  # multi_accept on;
}

http {

  ##
  # Basic Settings
  ##

  client_max_body_size 10M;

  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;
  server_tokens off;

  server_names_hash_bucket_size 128;
  # server_name_in_redirect off;

  # server_names_hash_max_size: 512;
  # server_names_hash_bucket_size: 512;

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  ##
  # Logging Settings
  ##

  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;

  ##
  # Gzip Settings
  ##

  gzip on;
  gzip_disable "msie6";


  ##
  # nginx-naxsi config
  ##
  # Uncomment it if you installed nginx-naxsi
  ##

  # include /etc/nginx/naxsi_core.rules;

  ##
  # Phusion Passenger config
  ##
  # Uncomment it if you installed passenger or passenger-enterprise
  ##
  
  passenger_ruby /usr/bin/ruby;
  # passenger_root /usr/lib/ruby/vendor_ruby/phusion_passenger/locations.ini;
  passenger_root /usr/lib/ruby/1.8/phusion_passenger/locations.ini;
  passenger_max_pool_size 6;

  log_format bodylog '$remote_addr - $remote_user [$time_local] '
      '"$request" $status $body_bytes_sent '
      '"$http_referer" "$http_user_agent" $request_time ';
 
  ##
  # Virtual Host Configs
  ##

  include /etc/nginx/conf.d/*.conf;
  include /etc/nginx/sites-enabled/*;
}
